<%- include navbar.ejs %>
<%- include spacing.ejs %>
  <% let ids = [];%>
  <% for (var i = 0; i < assassins.length; i++) { %>
    <% if (ids.includes(assassins[i].full_name)===false) { %>
    <% ids.push(assassins[i].full_name) %>

    <div class="divider"></div>

    <a href="/assassins/<%=assassins[i].person_id%>" class="section">



      <section class="names-section">
        <h5><%=assassins[i].full_name%></h5>
        <h5 class="codename"><i><%=assassins[i].code_name%></i></h5>
      </section>
      </a>
      <section class="assassin-info">
        <section>
          <h6 class='info'>ID : <%=assassins[i].person_id%></h6>
          <h6 class='info'>Kills : <%=assassins[i].kills%></h6>
          <h6 class='info'>Rating : <%=assassins[i].rating%></h6>
        </section>
        <section>
          <h6 class='info'>Weapon of Choice : <%=assassins[i].weapon%></h6>
          <h6 class='info'>Contact Info : <%=assassins[i].contact_info%></h6>
        </section>
        <section class='buttons'>
        <a href='assassins/asspatch/<%=assassins[i].person_id%>' class="waves-effect waves-light grey darken-3 btn">Edit</a>
        <form action='assassins/<%=assassins[i].person_id%>?_method=DELETE' method='POST'>
        <button class="waves-effect waves-light grey darken-3 btn" type='submit' name='action'>Delete</button>
          </form>
        </section>
      </section>




    </div>



    <% } %>
    <% } %>
    <div class='row'>
      <div class='col-s6'></div>
      <div class='col-s6'>
        <a href='assassins/create' class="waves-effect waves-light grey darken-3 btn-large">Create New Assassin</a>
      </div>
    </div>

<%- include scripts.ejs %>
</body>
