<%- include navbar.ejs %>
<div class="divider"></div>
<div class="section">



  <section class="names-section">
    <h5><%=assassin.full_name%></h5>
    <h5 class="codename"><i><%=assassin.code_name%></i></h5>
  </section>
  <section class="assassin-info">
    <section>
      <h6 class='info'>ID : <%=assassin.assassin_id%></h6>
      <h6 class='info'>Kills : <%=assassin.kills%></h6>
      <h6 class='info'>Rating : <%=assassin.rating%></h6>
    </section>
    <section>
      <h6 class='info'>Weapon of Choice : <%=assassin.weapon%></h6>
      <h6 class='info'>Contact Info : <%=assassin.contact_info%></h6>
    </section>
    <section class='buttons'>
    <a class="waves-effect waves-light grey darken-3 btn">Edit</a>
    <a class="waves-effect waves-light grey darken-3 btn">Delete</a>
    </section>
  </section>
  <div class="divider black"></div>
    <section class='assignedConts'>
      <div class='row title'>
        <h5 class='col-s6 center'>Assigned Contracts</h5>
      </div>
      <% for (var i = 0; i < blah.length; i++) { %>
        <div class='row'>
          <div class='container asscon '>
            <div class='col-s2'>
<img src='<%=blah[i].photo%>' alt="Target Photo" width='150' height='150' class='circle' >
            </div>
            <div class='col-s5'>
            <h6 class='info'>Target Name : <%=blah[i].target%></h6>
            <h6 class='info'>Kills : <%=blah[i].location%></h6>
            <h6 class='info'>Rating : <%=blah[i].client%></h6>
            <h6 class='info'>Rating : <%=blah[i].sec_level%></h6>

            </div>
            <div class="divider black"></div>
          </div>
        </div>
      <% } %>
    </section>
<%- include scripts.ejs %>
</body>
