<%- include navbar.ejs %>
<div class="divider"></div>
<div class="section">



  <section class="names-section">
    <h5><%=assassin.full_name%></h5>
    <h5 class="codename"><i><%=assassin.code_name%></i></h5>
  </section>
  <section class="assassin-info">
    <section>
      <h6 class='info'>ID : <%=assassin.assassin_id%></h6>
      <h6 class='info'>Kills : <%=assassin.kills%></h6>
      <h6 class='info'>Rating : <%=assassin.rating%></h6>
    </section>
    <section>
      <h6 class='info'>Weapon of Choice : <%=assassin.weapon%></h6>
      <h6 class='info'>Contact Info : <%=assassin.contact_info%></h6>
    </section>
    <section class='buttons'>
    <a class="waves-effect waves-light grey darken-3 btn">Edit</a>
    <a class="waves-effect waves-light grey darken-3 btn">Delete</a>
    </section>
  </section>
<%- include scripts.ejs %>
</body>
