<%- include navbar.ejs %>
<%- include spacing.ejs %>
  <div class="row">
    <form class="col s12" action='/assassins/<%=assassin.person_id%>/?_method=PUT' method='POST'>
      <div class="row">
        <div class="input-field col s6">
          <input value="<%=assassin.full_name%>" id="full_name" type="text" class="validate" name="full_name" >
          <label for="full_name">Full Name</label>
        </div>
        <div class="input-field col s2">
          <input value="<%=assassin.age%>" id="age" type="number" class="validate" name="age">
          <label for="age">Age</label>
        </div>
        <div class="input-field col s2">
          <input value="<%=assassin.min_price%>"id="min_price" type="number" class="validate" name="min_price">
          <label for="min_price">Base-Fee</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s6">
          <input value="<%=assassin.code_name%>" id="code_name" type="text" class="validate" name="code_name">
          <label for="code_name">codename</label>
        </div>

      </div>
      <div class="row">
        <div class="input-field col s10">
          <input value="<%=assassin.weapon%>"id="weapon" type="text" class="validate" name='weapon'>
          <label for="weapon">Weapon of Choice</label>
        </div>
        <div class="input-field col s1">
          <input value="<%=assassin.kills%>" id="kills" type="number" class="validate" name='kills'>
          <label for="kills">Kill Count</label>
        </div>
        <div class="input-field col s1">
          <input value="<%=assassin.rating%>"id="rating" type="number" class="validate" name='rating'>
          <label for="rating">sKILL LvL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input value="<%=assassin.contact_info%>"id="contact_info" type="email" class="validate" name='contact_info'>
          <label for="contact_info">Contact Info</label>
        </div>
      </div>
      <div class="row">
    <button class="grey darken-3 btn waves-effect waves-light" type="submit" >Update
        <i class="material-icons right">cloud</i>
    </button>
</div>
    </form>
  </div>
<%- include scripts.ejs %>
</body>
