<%- include navbar.ejs %>
<%- include spacing.ejs %>

  <% let ids = [];%>
  <% for (var i = 0; i < contracts.length; i++) { %>


    <div class="divider black"></div>




  <% if (contracts[i].target_id) { %>
    <a href="/contracts/<%=contracts[i].contract_id%>" class="section">
    <div class ='container conts'>
      <section class="names-section">
        <img src='<%=clients[i].photo%>' alt="Target Photo" width='150' height='150' class='circle' >
        <h5><%=clients[i].full_name%></h5>
        <h5 class="codename"><i><%=contracts[i].contract_id%></i></h5>
      </section>
      </a>
      <section class="assassin-info">
        <section>
          <h6 class='info'>Contract Client: <%=contracts[i].full_name%></h6>
          <h6 class='info'>Location : <%=clients[i].location%></h6>
          <h6 class='info'>Target ID : <%=contracts[i].target_id%></h6>
          <h6 class='info'>Client ID : <%=contracts[i].client_id%></h6>
          <h6 class='info'>Budget : <%=contracts[i].budget%></h6>
        </section>
        <section>
          <h6 class='info'>Security Level : <%=clients[i].sec_level%></h6>
          <h6 class='info'>Completed : <%=contracts[i].completed%></h6>
          <h6 class='info'>Completed by:  <%=contracts[i].completed_by_ass_id%></h6>
        </section>
        <section class='buttons'>
        <a href='contracts/contpatch/<%=contracts[i].target_id%>' class="waves-effect waves-light grey darken-3 btn">Edit</a>
        <form action='contracts/<%=contracts[i].contract_id%>?_method=DELETE' method='POST'>
        <button class="waves-effect waves-light grey darken-3 btn" type='submit' name='action'>Delete</button>
          </form>
        </section>
            </div>
      </section>




    </div>




    <% } %>
    <% } %>
    <div class='row'>
      <div class='col-s6'></div>
      <div class='col-s6'>
        <a href='contracts/newHit' class="waves-effect waves-light grey darken-3 btn-large">Create New Contract</a>
      </div>
    </div>

<%- include scripts.ejs %>
</body>
