<%- include navbar.ejs %>
<%- include spacing.ejs %>

  <div class="row">

    <form class="col s12" action='/contracts/<%=contract[0].target_id%>/?_method=PUT' method='POST'>
      <div class="row">
        <div class="input-field col s6">
          <input value='<%=contract[0].full_name%>' id="target_name" type="text" class="validate" name="target_name">
          <label for="target_name">Target Full Name</label>
        </div>

        <div class="input-field col s2">
          <input value='<%=contract[0].sec_level%>' id="sec_level" type="number" class="validate" name="sec_level">
          <label for="sec_level">Target Security Level</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <input value='<%=contract[0].location%>' id="location" type="text" class="validate" name='location'>
          <label for="location">Target Location</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s10">
          <input value="<%=contract[0].photo%>"id="photo" type="url" class="validate" name='photo'>
          <label for="photo">Target Photo URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input value='<%=otherShit[0].full_name%>' id="client_name" type="text" class="validate" name="client_name">
          <label for="client_name">Your Name</label>
        </div>
        <div class="input-field col s2">
          <input value='<%=contract[0].budget%>'  id="budget" type="number" class="validate" name="budget">
          <label for="budget">Budget</label>
        </div>
      </div>


      <div class="row">
    <button class="grey darken-3 btn waves-effect waves-light" type="submit" name="action">Create
        <i class="material-icons right">cloud</i>
    </button>
</div>
    </form>
  </div>
<%- include scripts.ejs %>
